@import 'base.scss';

.editor-bar {
  @extend %flex-row;
  @extend %full-width-height;
}

.option {
  @extend %flex-column;
  @extend %in-flex-center-all;
  @extend %underline-on-select-and-hover;

  margin: 0 16px 0 16px;
  height: 100%;
  padding: 4px;
  flex-grow: 1;
  font-weight: 400;
}
