@import 'base.scss';

.pair-collection {
  @extend %flex-column;
  width: 100%;
  height: 100%;

  button {
    border: 2px solid $light-grey;
    border-radius: 8px;
    padding: 0 8px 0 8px;
    margin: 8px;
    color: $medium-grey;
    font-weight: 400;

    &:hover {
      background-color: $light-grey;
      color: #fff;
    }
  }

  .controls {
    @extend %flex-row;
    justify-content: space-evenly;
    width: 100%;
    height: 48px;
  }

  .view {
    @extend %flex-column;
    width: 100%;
    height: calc(100% - 32px);  // minus controls
    overflow: auto;
  }
}
