@import 'base.scss';

.pair-collection {
  @extend %flex-column;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: 2px solid transparent;

  &:focus {
    outline: none;
    border-color: $light-purple;
    box-shadow: none;
  }

  .button-container {
    @extend %button-container;
  }

  .controls {
    @extend %flex-row;
    justify-content: space-evenly;
    align-items: center;
    width: calc(100% - 24px);
    padding-left: 24px;
    height: 48px;
  }

  .view {
    @extend %flex-row;
    height: calc(100% - 32px);  // minus controls
  }

  .pairs {
    @extend %flex-column;
    width: calc(100% - 24px);
    height: 100%;
    overflow: auto;
  }

  .minimap {
    width: 24px;
    height: 100%;
  }
}
