@import 'base.scss';

.editor {
  @extend %flex-column;
  @extend %full-width-height;
  position: relative;
}

.display {
  position: relative;
  width: calc(100% - 32px);
  margin: 16px;
  border-radius: 16px;
  background-color: #fff;
}

.panes {
  @extend %flex-row;
  @extend %full-width-height;
  position: relative;

  .first {
    visibility: visible;
  }

  .second {
    visibility: hidden;
  }

  .third {
    visibility: hidden;
  }

  &.show-second {
    .first { visibility: hidden; }
    .second { visibility: visible; }
    .third { visibility: hidden; }
  }

  &.show-third {
    .first { visibility: hidden; }
    .second { visibility: hidden; }
    .third { visibility: visible; }
  }
}

.container {
  @extend %flex-column;
  @extend %in-flex-center-all;
  @extend %full-width-height;
  position: absolute;
  left: 0;
  top: 0;
}

.text-editor {
  @extend %flex-column;
  width: 100%;
  flex-grow: 1;
}
