@import 'base.scss';

.editor {
  @extend %flex-column;
  @extend %full-width-height;
}

.display {
  position: relative;
  width: 100%;
}

.display:before {
  content: "";
  display: block;
  padding-top: 60%;
}
