@import 'base.scss';

.collection-pane {
  @extend %flex-column;
  @extend %full-width-height;
  overflow: auto;
}

.collection {
}

.controls {
  @extend %flex-row;
  justify-content: space-evenly;
  width: 100%;
  height: 36px;
}

.button {
  margin: 4px 24px 4px 24px;
  padding: 4px;
  background-color: $light-blue;
  border-radius: 4px;
}
