@import 'base.scss';

.tuner {
  @extend %flex-column;
  @extend %full-width-height;
}

.panes {
  @extend %flex-column;
  position: relative;
  flex-grow: 1;

  & > * {
    @extend %flex-column;
    @extend %full-width-height;

    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }

  &.show-first {
    :first-child {
      opacity: 1;
      visibility: visible;
      z-index: 1;
    }
  }

  &.show-second {
    :nth-child(2) {
      opacity: 1;
      visibility: visible;
      z-index: 1;
    }
  }
}

.asp-editor {
  @extend %flex-column;
  @extend %full-width-height;

  .selector {
    @extend %flex-row;
    justify-content: space-evenly;
    align-items: baseline;
    height: 36px;
    width: 100%;
  }

  .button {
    margin: 4px 24px 4px 24px;
    padding: 4px;
    border-radius: 4px;
    font-weight: 400;
  
    &.on {
      background-color: $light-red;
    }
  
    &:hover {
      background-color: $light-blue;
    }
  }
  
}
