@import "base.scss";

.navbar {
  @extend %flex-row;
  @extend %full-width-height;
  box-sizing: border-box;
  border-bottom: 1px solid $light-grey;
  background-color: #fff;
}

.content {
  @extend %flex-row;
  flex-grow: 1;
  align-items: center;
  box-sizing: border-box;
  padding: 16px;
}

.button-container {
  @extend %button-container;
  margin: 0 16px 0 16px;

  .focused {
    background-color: #fff;

    &:hover {
      background-color: $very-light-purple;
    }
  }
}

input[type="file"] {
  display: none;
}

label {
  cursor: pointer;
}
