@import 'base.scss';

.navbar {
  @extend %flex-row;
  @extend %full-width-height;
  box-sizing: border-box;
  border-bottom: 1px solid $light-grey;
}

.content {
  @extend %flex-row-reverse;
  flex-grow: 1;
  align-items: center;
  box-sizing: border-box;
  padding: 16px;
}

.button-container {
  @extend %button-container;
  margin: 0 16px 0 16px;

  button {
    border: none;
    width: 48px;
    color: $medium-purple;

    &:hover {
      background-color: $medium-purple;
    }
  }
}
