$light-blue: #b1dcff;
$medium-blue: #75a8f9;
$light-grey: #d8d8d8;
$medium-grey: #888888;
$dark-purple: #1A1C40;
$light-red: #f9d8d8; 
$light-green: #dffdda;
$medium-purple: rgb(72, 63, 126);
$light-purple: rgb(138, 128, 197);

