%flex-base {
  display: flex;
}

%flex-row {
  @extend %flex-base;
  flex-direction: row;
}

%flex-row-reverse {
  @extend %flex-base;
  flex-direction: row-reverse;
}

%flex-column {
  @extend %flex-base;
  flex-direction: column;
}

%flex-column-reverse {
  @extend %flex-base;
  flex-direction: column-reverse;
}

%no-margin-no-padding {
  margin: 0;
  padding: 0;
}

%full-width-height {
  width: 100%;
  height: 100%;
}

%in-flex-center-all {
  justify-content: center;
  align-items: center;
}

%empty-rule {
  visibility: visible;
}

%border-all {
  border: 1px solid #c4c4c4;
}

%auto-fill {
  max-width: 100% !important;
  max-height: 100% !important;
  width: auto !important;
  height: auto !important;
}

%elevation-one {
  -webkit-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.75);
}
