$light-blue: #b1dcff;
$medium-blue: #75a8f9;
$light-grey: #d8d8d8;
$medium-grey: #888888;
$dark-purple: #1a1c40;
$light-red: #f9d8d8;
$medium-red: #a82323;
$light-green: #dffdda;
$medium-green: #205318;
$medium-purple: rgb(72, 63, 126);
$light-purple: rgb(138, 128, 197);
$very-light-purple: rgb(215, 208, 255);
