@import 'base.scss';

.vega-lite-chart {
  @extend %no-margin-no-padding;
  @extend %in-flex-center-all;
  @extend %full-width-height;
  display: flex !important;
  position: relative;
  cursor: pointer;

  .vega-actions a {
    pointer-events: all;
    font-size: .9em;
    color: $light-grey;
  }

  canvas {
    vertical-align: middle;
    @extend %auto-fill;
  }

  svg {
    vertical-align: middle;
    @extend %auto-fill;
  }
}

.no-actions {
  padding: 0 !important;
  margin: 0 !important;
}
