@import "base.scss";

.chart-card {
  @extend %flex-column;
  box-sizing: border-box;
  padding: 8px;
  width: 160px;
  height: 160px;
  border: 2px solid $light-grey;
  border-radius: 4px;
  margin: 8px;
}
