@import "base.scss";

.chart-card {
  @extend %flex-column;
  box-sizing: border-box;
  padding: 8px;
  width: 160px;
  height: 160px;
  border: 2px solid $light-grey;
  border-radius: 4px;
  margin: 8px;
  flex-grow: 1;
}

.loading-container {
  @extend %full-width-height;
  @extend %flex-column;
  @extend %in-flex-center-all;
}

.loading {
  width: 16px;
  height: 16px;
  border-top: 2px solid $dark-purple;
  border-left: 2px solid $dark-purple;
  border-right: 2px solid $dark-purple;
  border-bottom: 2px solid transparent;
  border-radius: 50%/50%;
  animation: reloading-animation 1000ms linear 440ms infinite;

  @keyframes reloading-animation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
