@import "base.scss";

.chart-collection {
  @extend %flex-column;
  @extend %full-width-height;
}

.button-container {
  @extend %button-container;
}

.controls {
  @extend %flex-row;
  align-items: center;
  justify-content: space-evenly;
  width: calc(100% - 56px);
  padding-left: 32px;
  padding-right: 24px;
  height: 96px;
  flex-wrap: wrap;
  overflow: hidden;

  * {
    flex-shrink: 1;
  }

  input {
    margin: 0 16px 0 16px;
  }
}

.view {
  @extend %flex-row;
  width: 100%;
  height: calc(100% - 32px); // minus controls
}

.charts {
  @extend %flex-row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: calc(100% - 24px - 16px - 8px);
  padding-right: 16px;
  padding-left: 8px;
  height: 100%;
  overflow: auto;
  align-content: start;
}

.minimap {
  width: 24px;
  height: 100%;
}
