@import 'base.scss';

.navbar {
  @extend %flex-row;
  @extend %full-width-height;
  border-bottom: 1px solid $light-grey;
}

.content {
  @extend %flex-row-reverse;
  flex-grow: 1;
  align-items: center;
  box-sizing: border-box;
  padding: 16px;
}
