@import 'base.scss';

.app {
  @extend %flex-column;
  @extend %no-margin-no-padding;

  width: 100vw;
  height: 100vh;
  position: relative;
}

.navbar {
  width: 100%;
  height: 40px;
  position: relative;
}

.tuner {
  height: calc(100% - 40px);
  position: relative;
}
