@import 'base.scss';

.pair {
  @extend %flex-column;
  width: calc(100% - 24px);
  margin: 4px 12px 4px 12px;
  height: 244px;
  transition: height 220ms $standard-ease;
  overflow: hidden;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid $light-grey;
  border-radius: 8px;

  &.collapsed {
    height: 16px;

    .splinter {
      // border: 1px solid $light-grey;
    }
  }

  &.showInfo {
    height: 676px;

    .info {
      // height: 400px;
    }
  }
}

.splinter {
  @extend %flex-row;
  height: 16px;
  flex: 0 0 auto;
  box-sizing: border-box;
  // border: 1px 1px 0 1px solid $light-grey;
  cursor: pointer;

  .vector-unit {
    height: 100%;
  }

  &.red {
    background-color: rgb(255, 215, 215);
  }
}

.split {
  @extend %flex-row;
  flex: 0 0 auto;
  width: 100%;
  height: calc(200px - 32px);
  transition: height 220ms $standard-ease;

  .left {
    @extend %flex-column;
    align-items: center;
    width: calc(50% - 16px);
    height: 100%;
  }

  .comp {
    @extend %flex-column;
    @extend %in-flex-center-all;
    width: 32px;
    height: 100%;
    font-size: 24px;
    font-weight: 700;
    color: $medium-grey;

    .swap {
      font-size: 16px;
      font-weight: 400;
    }

    .button {
      margin: 4px 24px 4px 24px;
      padding: 4px;
      border-radius: 4px;
      font-weight: 400;

      &:hover {
        background-color: $light-blue;
      }
    }
  }
  
  .right {
    @extend %flex-column;
    align-items: center;
    width: calc(50% - 16px);
    height: 100%
  }

  .cost {
    line-height: 36px;
    vertical-align: center;
  }
  
  .chart {
    height: calc(100% - 36px);
  }
}

.pass {
  .splinter {
    background-color: rgb(215, 255, 215);
  }
}

.fail {
  .splinter {
    background-color: rgb(255, 215, 215);
  }
}

.expand {
  @extend %flex-row;
  @extend %in-flex-center-all;
  width: 100%;
  height: 24px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  color: $medium-grey;

  &:hover {
    background-color: rgb(236, 236, 236);
  }
}

.info {
  @extend %flex-row;
  height: 424px;
  justify-content: center;
  overflow: auto;

  .code {
    color: $medium-grey;
  }
}

.options {
  @extend %flex-row;
  flex-shrink: 0;
  justify-content: space-around;
  width: 100%;
  height: 36px;

  .button {
    margin: 4px 24px 4px 24px;
    padding: 4px;
    border-radius: 4px;
    font-weight: 400;

    &:hover {
      background-color: $light-blue;
    }
  }
}

.diff-table {
  font-family: 'Roboto Mono', monospace;
  font-size: 11px;
  margin-top: 16px;

  border-collapse: collapse;

  th, td {
    border: 1px solid $light-grey;
    padding: 8px;
    text-align: left;
  }

  th {
    text-align: center;
    background-color: $light-grey;
  }

  .cost {
    font-weight: 700;
  }
}
