@import 'base.scss';

.info-pane {
  @extend %elevation-one;
  @extend %flex-column;

  resize: horizontal;
  
  max-width: calc(100% - 32px);
  max-height: calc(100% - 32px);
  margin: 16px;
  border-radius: 8px;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0;
  transform: translateY(calc(100% + 16px));

  &.show {
    transform: translateY(0);
    opacity: 1;
    z-index: 10;

    transition-delay: 220ms;
    transition:
      transform 220ms $decelerate-ease,
      opacity 220ms $decelerate-ease;
  }
}

.code {
  padding: 16px;
  border-radius: 8px;
  color: $medium-grey;

  &.draco {
    cursor: pointer;

    &:hover {
      background-color: $light-blue;
    }
  }
}

.close {
  width: 12px;
  height: 12px;
  background-color: rgb(255, 73, 73);
  border-radius: 50%;
  cursor: default;
}

h4 {
  padding-left: 16px;
}

.buttons {
  @extend %flex-row-reverse;
  width: calc(100% - 16px);
  height: 12px;
  padding: 8px;
  flex-shrink: 0;
}

.content {
  @extend %flex-row;
  box-sizing: border-box;
  width: 100%;
  overflow-y: auto;
  padding: 16px;
}

.chart-column {
  @extend %flex-row;
  @extend %in-flex-center-all;

  padding-right: 16px;
}

.chart {
  width: 100%;
}

.violation-table {
  margin: 0 16px 0 16px;
  font-family: 'Lucida Console', Monaco, monospace;
  font-size: 12px;
  color: $medium-grey;
  border-spacing:0; /* Removes the cell spacing via CSS */
  border-collapse: separate;

  .table-row {
    border-radius: 4px;
    &:hover {
      background-color: $light-blue;
    }
  }
}
