@import 'styles/containers.scss';
@import 'styles/colors.scss';
@import 'styles/animation.scss';


%button-container {
  @extend %flex-row;
  @extend %in-flex-center-all;
  width: calc(112px + 4px + 16px + 16px);  // border + padding + margin
  height: 48px;

  button {
    width: 112px;
    height: 30px;
    border: 2px solid $medium-purple;
    border-radius: 8px;
    padding: 0 8px 0 8px;
    margin: 8px;
    color: $medium-purple;
    font-weight: 400;
    overflow: hidden;
    transition:
      width 220ms $standard-ease,
      border-radius 220ms linear,
      border 220ms linear,
      color 220ms linear;


    &.icon-button {
      border: none;
      width: 48px;
      color: $medium-purple;
    
      &:hover {
        background-color: $medium-purple;
        color: #fff;
      }
    }

    &:hover {
      transition: none;
      background-color: $medium-purple;
      color: #fff;
    }

    &.reloading {
      transition:
        width 220ms $standard-ease 220ms,
        border-radius 220ms linear 220ms,
        border 220ms linear 220ms;
      color: #fff;
      border-radius: 50%/50%;
      background-color: $light-purple;
      // background-color: transparent !important;
      pointer-events: none;
      border: none;
      border: 2px solid transparent;
      border-top: 2px solid $dark-purple;
      border-left: 2px solid $dark-purple;
      border-right: 2px solid $dark-purple;
      width: 30px;
      animation: flash-animation 220ms linear 220ms forwards, reloading-animation 1000ms linear 440ms infinite;
    }

    @keyframes flash-animation {
      0% {
        background-color: $dark-purple;
        color: #fff;
      } 50% {
        background-color: $dark-purple;
        color: transparent;
      } 100% {
        background-color: transparent;
        color: transparent;
      }
    }

    @keyframes reloading-animation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
